/* https://github.com/Alexays/Waybar/wiki/Module:-Backlight#style */
/* https://github.com/Alexays/Waybar/wiki/Module:-Backlight-Slider#style */

#backlight-slider slider,
#pulseaudio-slider slider {
  border: none;
  opacity: 0;
  min-width: 7px;
  min-height: 7px;
  box-shadow: none;
  border-radius: 999999px;
  /*background: @mauve;*/
  background: @red;
  border: none;
  /* border: 3px solid @red; */
}

#backlight-slider slider:active,
#pulseaudio-slider slider:active {
  /*background: @green;*/
  background: #db395f;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  min-width: 80px;
  min-height: 4px;
  border-radius: 10px;
  /*background-color: alpha(@red, 0.3);*/
  background-color: grey;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  border-radius: 10px;
  /*background-color: @overlay2;*/
  background-color: white;
}

/* vim: set sw=2 ts=2 sts=2 et: */
