/* https://github.com/Alexays/Waybar/wiki/Module:-Backlight#style */
/* https://github.com/Alexays/Waybar/wiki/Module:-Backlight-Slider#style */

/* https://github.com/Alexays/Waybar/wiki/Module:-PulseAudio#style */
/* https://github.com/Alexays/Waybar/wiki/Module:-PulseAudio-Slider#style */

#backlight-slider slider,
#pulseaudio-slider slider {
  border: none;
  opacity: 0;
  min-width: 5px;
  min-height: 5px;
  box-shadow: none;
  border-radius: 999999px;
  background: @mauve;
  border: none;
  /* border: 3px solid @red; */
}

#backlight-slider slider:active,
#pulseaudio-slider slider:active {
  background: @green;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  min-width: 80px;
  min-height: 4px;
  border-radius: 10px;
  background-color: alpha(@red, 0.3);
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  border-radius: 10px;
  background-color: @overlay2;
}

/* vim: set sw=2 ts=2 sts=2 et: */
