/* https://github.com/Alexays/Waybar/wiki/Module:-Hyprland#style */

#mode {
  background-color: #6033ff;
}

#language {
  color: @pink;
}

#workspaces button {
  color: #fff;
  padding: 0 5px;
  background-color: #000;
  box-shadow: inset 0 -3px transparent;
}

#workspaces button.focused {
  background-color: #6033ff;
}

#workspaces button:hover {
  color: #000;
  /* box-shadow: inset 0 -3px #555; */
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

/* vim: set sw=2 ts=2 sts=2 et: */
